body {
    background-color: #cfdbd5;
}

button {
    border-style: none;
    box-sizing: border-box;
    font-size: 1.5em;
    padding: 0px;
}

.num-symbol {
    background-color: #242423;
    color: #e8eddf;
}

.symbol{
    background-color: #333533;
    color: #006ba6;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: '1fr 1fr 1fr 1fr';
    grid-template-rows: '1fr 1fr 1fr 1fr 1fr 1fr';
    gap: '2px 2px';
    grid-template-areas:
        'display display display display'
        'clear   divide  multiplication  backspace'
        'seven   eight   nine    minus'
        'four    five    six     plus'
        'one     two     three   equals'
        '.       z    point   equals';
    height: 450px;
    width: 350px;
    background-color: #242423;
    padding:2px;
    font-size: 1em;
}

#display {
    background-color: #242423;
    grid-area: display;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#zero {
    grid-area: z;
}

#clear {
    grid-area: clear;
}

#divide {
    grid-area: divide;
}

#multiplication {
    grid-area: multiplication;
}

#backspace {
    grid-area: backspace;
}

#minus {
    grid-area: minus;
}

#plus {
    grid-area: plus;
}

#equals {
    grid-area: equals;
}

#point {
    grid-area: point;
}