body {
    background: #29363D;
    font-family: Helvetica, Arial, sans-serif;
}

button {
    border-style: none;
    box-sizing: border-box;
    padding: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #3C3E3C;
    font-size: 1.7em;
    font-family: Helvetica, Arial, sans-serif;
    transition-duration: .25s;
}

button:hover {
    background: linear-gradient(to top,rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    cursor: pointer;
}

button:focus {
    outline: none;
}

.num-symbol {
    background-color: #2A2A28;
    color: #e8eddf;
}

#minus-plus-btn {
    font-size: 1.9em;
    background-color: #30312E;
    color: #1D8ACB;
}

.symbol{
    font-size: 1.9em;
    background-color: #30312E;
    color: #1D8ACB;
}

.operator-symbol{
    font-size: 1.9em;
    background-color: #30312E;
    color: #1D8ACB;
}

#container {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#calculator {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.2fr 1fr 1fr 1fr 1fr 1fr;
    gap: '2px 2px';
    grid-template-areas:
        'display display display display'
        'clear   divide  multiplication  backspace'
        'seven   eight   nine    minus'
        'four    five    six     plus'
        'one     two     three   equals'
        '.       z    point   equals';
    height: 470px;
    width: 310px;
    background-color: #242423;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#display {
    background-color: #2A2A28;
    grid-area: display;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 12px;
    font-size: 1.8em;
    color: #e8eddf;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#zero {
    grid-area: z;
}

#clear {
    grid-area: clear;
}

#divide {
    grid-area: divide;
}

#multiplication {
    grid-area: multiplication;
}

#backspace {
    grid-area: backspace;
}

#minus {
    grid-area: minus;
}

#plus {
    grid-area: plus;
}

#equals {
    grid-area: equals;
}

#point {
    grid-area: point;
}

@media screen and (max-width: 375px) {
    #calculator {
        width: 100vw;
        height: 150vw;
    }

    body {
        background: #2A2A28;
    }
  }